<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opcoach.com/dsgen/1.0"
            class="com.opcoach.dsgen.DataSampleGenPackage"
            genModel="model/dataSample.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.opcoach.dsgen.DSGenFeature"
            class="com.opcoach.dsgen.helpers.DSGenToGeneratorFactory">
         <adapter
               type="com.opcoach.generator.ValueGenerator">
         </adapter>
      </factory>
   </extension>

</plugin>
