<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.opcoach.dsgen.ui.dsgenCategory"
            class="com.opcoach.dsgen.ui.views.DSGenDashBoard"
            icon="icons/datasample.png"
            id="com.opcoach.dsgen.ui.views.DSGenDashboard"
            name="DSGen Dashboard">
      </view>
      <category
            id="com.opcoach.dsgen.ui.dsgenCategory"
            name="Data Sample">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.opcoach.dsgen.ui.dsgenCategory"
            name="Data Sample">
      </category>
      <wizard
            category="com.opcoach.dsgen.ui.dsgenCategory"
            class="com.opcoach.dsgen.ui.wizards.DSGenNewWizard"
            hasPages="true"
            icon="icons/ecore2dsgen.png"
            id="com.opcoach.dsgen.ui.dsgenNewWizard"
            name="DSGen New Wizard">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.ecore">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Category for Data Sample Ecore generation"
            id="com.opcoach.dsgen.ui.commands.category"
            name="Data Sample Generation">
      </category>
      <command
            categoryId="com.opcoach.dsgen.ui.commands.category"
            id="com.opcoach.dsgen.ui.commands.dsgen2sample"
            name="Generate Sample">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.opcoach.dsgen.ui.commands.dsgen2sample"
            class="com.opcoach.dsgen.ui.handlers.GenerateDataSample">
         <activeWhen>
            <reference
                  definitionId="com.opcoach.dsgen.ui.dsgenSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.opcoach.dsgen.ui.dsgenSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/datasample.png"
               id="com.opcoach.generator.ecore.ui.menu"
               label="Data Sample OPCoach"
               tooltip="Access to all opcoach commands">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.dsgen.ui.dsgenSelected">
               </reference>
            </visibleWhen>
            <separator
                  name="commands"
                  visible="false">
            </separator>
            <command
                  commandId="com.opcoach.dsgen.ui.commands.dsgen2sample"
                  icon="icons/ecore2dsgen.png"
                  label="Genere Sample"
                  style="push"
                  tooltip="Generate a sample from dsgen">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.opcoach.dsgen.ui.dsgenSelected">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.core.expressions.definitions">
    <definition
            id="com.opcoach.dsgen.ui.dsgenSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dsgen">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
    
         </extension>
      
</plugin>
