<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://www.opcoach.com/datasample/1.0"
            class="com.opcoach.datasample.impl.DatasampleFactoryImpl">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.opcoach.datasample.MDatasamplePackage"
            genModel="model/dataSample.genmodel"
            uri="http://www.opcoach.com/datasample/1.0">
      </package>
   </extension>

</plugin>
