<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.opcoach.generator.ecore.dsgen.DSGenPackage"
            genModel="plugin:com.opcoach.generator.ecore.dsgenmodel/model/dataSample.genmodel"
            uri="http://www.opcoach.com/dsgen/1.0">
      </package>
   </extension>

</plugin>
